<link rel="stylesheet" href="/css/sign-up.css">
    <section id="mid">
        <h1><i class="fa fa-code-fork" aria-hidden="true"></i>Code <i class="fa fa-comments-o" aria-hidden="true"></i>ial</h1>
        <div id="line"></div>
    <div id="form-container">
        <form action="/users/create" method="POST">
            <input type="text" name="name" class="sign-up" placeholder="Your Name" required>
            <input type="email" name="email" class="sign-up" placeholder="Your Email" required>
            <input type="password" name="password" class="sign-up" placeholder="Password" required>
            <input type="text" name="confirm_password" class="sign-up" placeholder="confirm Password" required>
            <button type="submit" id="sign-in-btn">Sign-up</button>
        </form>
        <p>By signing up, you agree to our <span>Terms</span>, <span>Data Policy</span> and <span>Cookies Policy</span> .</p>
    </div>
    </section>