<link rel="stylesheet" href="/css/sign-in.css">
<div id="sign-in-container">
    <div id="sign-in-form">
        <section id="mid">
            <form action="/users/createSession" method="POST">
                <input type="email" name="email" class="sign-in" required>
                <input type="password" name="password" class="sign-in" required>
                <button type="submit" id="sign-in-btn">Sign-in</button>
            </form>
        </section>
    </div>
</div>