    <form action="/users/signOut" method="POST">
        
        <button>sign-out</button>
    
    </form>
    <h1>Hello / <%= title %></h1>
    <h5><%=user.name%></h5>
    <h5><%=user.email%></h5>
