#logo {
  display: flex;
  flex-direction: row;
  top: 0px;
  position: fixed;
  width: 100vw;
  height: 50px;
  color: white;
  background-color: #868686;
  justify-content: space-between;
  align-items: center; }
  #logo h1 {
    margin-left: 10px; }
  #logo #profile-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    #logo #profile-links li {
      margin-right: 20px;
      list-style: none; }
      #logo #profile-links li a {
        color: white;
        text-decoration: none; }
